.display-main{
    display: flex;
}

.dashboard-video-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid #020A33;
}

.dashboard-video-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.dashboard-video-list-item{
    align-items: center;
    background-color: #020A33;
    padding: 5px;
    opacity: 0.9;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 100%;
    border: 1px solid black;
}

.right-side-wrapper{
    margin-left: 2vw;
}

.upload-label{
    display: flex;
    justify-content: center;  
}
.country-img{
    width: 26px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 7px;
}
.country{
    display: flex;
    align-items: center;
    margin-bottom:  5px;
}
.country-wrapper{
    height: fit-content;
    padding: 5px;
    border: 1px solid #020A33;
    margin-bottom: 2vh;
}
.country-marg{
    margin: 8px 0;
    overflow-y: scroll;
    height: 92px;
}
.version-border{
    border: 1px dotted #020A33;
    padding: 3px 5px;
}
.versionning-header{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin-bottom: 1%;
}
.versionning-logs{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.log-list{
    overflow-y: auto;
    height: 100px;
}
.versionning{
    margin-top: 1%;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.dashboard-video-missing{
    height: 70vh;
}

.dashboard-video-missing {
    text-align: center;
    margin-top: 5vh;
}

.dashboard-video-missing-upload-card {
    margin-top: 5vh;
    margin-bottom: 20px;
    width: 80vw;
}

.dashboard-video-popup {
    position: absolute;
    top : 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid #020A33;
    padding: 20px;
    z-index: 100;
}

.dashboard-video-popup-upload-card {
    height: 50vh;
    width: 80vw;
}

