.divider {
    --text-divider-gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    letter-spacing: 0.1em;
}
  
.divider::before, .divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}
  
.divider::before {
    margin-right: var(--text-divider-gap);
}
  
.divider::after {
    margin-left: var(--text-divider-gap);
}

.divider-no-text {
    height: 1px;
    background-color: silver;
}