video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

video::-webkit-media-controls {
    display: none;
}

.video-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper:hover .video-player-controls {
    opacity: 1;
    transform: translateY(0%);
}

.video-player-progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5px;
}

.video-player-controls-progress {
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
}

.video-player-controls-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.video-player-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 14px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
}

.video-player-controls button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.video-player-controls select {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.video-player-controls-progress {
    width: 100%;
    height: 100%;
    color: #fff;
    background: none;
    text-align: center;
}

.controls-svg {
    fill: #fff;
} 