video {
    width: 80%;
    top: 0;
    left: 0;
}

video::-webkit-media-controls {
    display: none;
}

.main-video{
    width: 55%;
    height: fit-content;
}

.video-wrapper {
    text-align: -webkit-center;
}

.video-wrapper:hover .video-player-controls {
    opacity: 1;
    transform: translateY(0%);
}

.video-player-progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5px;
}

.video-player-controls-progress {
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
}

.video-player-controls-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.video-player-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute; */
    width: 97%;
    bottom: 0;
    padding: 1%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    /* transform: translateY(150%); */
    /* transition: all 0.3s ease-in-out; */
}

.video-player-controls button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.video-player-controls select {
    background: none;
    border: none;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    outline: none;
}

.video-player-controls-progress-text {
    width: 100%;
    height: 100%;
    color: #fff;
    background: none;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.4vh;
}

.controls-svg {
    pointer-events: none
} 