.home {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-header {
    top: 0;
    padding: 0;
    width: 100%;
}

.home-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: calc(100vh - 70px);
}

.home-content {
    overflow:auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: content-box;
    padding-right: 20px;
}