.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}

.button-primary {
  color: #161C3D;
  background-color: white;
  border: 2px solid #161C3D; 
}

.button-secondary {
  color: white;
  background-color: #161C3D;
  border: 2px solid #161C3D; 
}

.button-small {
  font-size: 12px;
  padding: 6px 10px;
  max-width: 100px;
}

.button-medium {
  font-size: 14px;
  padding: 11px 20px;
}

.button-large {
  font-size: 16px;
  padding: 12px 24px;
}
