.field-input {
    width: 96%;
    height: 100%;
    max-height: 200px;
    border: 1px solid #DFE1E6;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    background-color: #FDFCFA;
    color: #7A869A;
    border-radius: 0.2rem;
    padding: 2% 2%;
    resize: none;
}

.field-input:focus {
    border: 1px solid #007bff;
}

.field-input-search {
    background: url("src/assets/search/Search.svg") no-repeat right;
    background-size: 3vw;
    background-position: 98%;
}

.field-input-password {
    background: white url("src/assets/hide/eye.svg") no-repeat right;
    background-size: 3vw;
    background-position: 98%;
}