.field-input {
    width: 100%;
    height: 100%;
    max-height: 200px;
    border: 1px solid #DFE1E6;
    outline: none;
    font-size: 1rem;
    background-color: #FDFCFA;
    resize: none;
    color: black;
    border-radius: 0.2rem;
    padding: 8px 10px;
}

.field-input:focus {
    border: 1px solid #007bff;
}
.field-input-search {
    background: url("src/assets/search/Search.svg") no-repeat right;
    background-size: 3vw;
    background-position: 98%;
}

.field-icon{
    display: none;
}

.field-icon-password{
    background: url("src/assets/hide/eye.svg") no-repeat right;
    display: block;
    position: absolute;
    margin-right: 1%;
    height: -webkit-fill-available;
    width: 25px;
}

.input-wrap{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input-wrap-checkbox{
    width: 15%;
}

.field-input-bio{
    height: 898px;
    padding: 0;
    max-height: max-content;
}
.input-wrap-bio{
    display: block;
}