.tabs-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #d3d3d3;
}

.custom-tabs-li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color: #020A33;
  font-weight: bold;
  cursor: pointer;
}

.active {
 text-decoration: underline;
 text-decoration-color: #FFCF00;
 text-decoration-thickness: 2px;
 text-underline-offset: 9px;
}

.tabs-hr {
  margin: 0;
}